<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h3>COVIED19 statistics for all countries</h3>
    <div>
        <%data.forEach(item=>{%>
        <div>
            <h3>Country : <%=item.Country%></h3>
            <p>Total Confirmed cases: <%=item.TotalConfirmed%></p>
            <p>Total Deaths cases: <%=item.TotalDeaths%></p>
            <p>Total Recovered cases: <%=item.TotalRecovered%></p>
            <p>Date: <%=item.Date%></p>
            <form action="/myRecords " method="POST">
                <input type="hidden" name="country" value="<%=item.Country%>">
                <input type="hidden" name="confirmed" value="<%=item.TotalConfirmed%>">
                <input type="hidden" name="deaths" value=" <%=item.TotalDeaths%>">
                <input type="hidden" name="Recovered" value="<%=item.TotalRecovered%>">
                <input type="hidden" name="date" value="<%=item.Date%>">
                <button>add-to-my-records button</button>
            </form>
        </div>

        <% })%>
    </div>
</body>

</html>