<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div>

        <div>
            <h2>Covied19 statistics for : <%=data.country%></h2>
            <p>Total Confirmed cases: <%=data.confirmed%></p>
            <p>Total Deaths cases: <%=data.deaths%></p>
            <p>Total Recovered cases: <%=data.Recovered%></p>
            <p>Date: <%=data.date%></p>

        </div>


    </div>
</body>

</html>